{:deps {ring/ring-jetty-adapter {:mvn/version "1.7.1"}}
 :aliases {:pack {:deps {pack/pack.alpha {:git/url "https://github.com/juxt/pack.alpha.git"
                                          :sha "042c61410b1851957ae5f77cfe26a255837172cc"}}}}}
